
.ab_main{
    width: 100vw;
    height: 70vh;
    background:rgba(0,0,0,0.6) url('../../../public/assets/wee/bd_a/off.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 1rem;
    padding-left: 0rem;
    margin-top: 5rem;
}
.header-des{
    width: 40%;
    color: white;
    margin: 5%;
}
.ab_header_bg_img{
    display: flex;
    width: 100%;
    gap: 1rem;
}
.ab_hea_box{
    border: 1px solid var(--color-varient);
    box-shadow: 0rem 0.1rem 0.2rem 0.1rem;
    height: 2.5rem;
    padding: 0rem 8rem;
    display: flex;
    align-items: center;
    transform: translate(0rem,38.7rem);
    background-color: var(--color-white);
    font-size: 1.2rem;
    border-radius: 0.2rem;
}


/* ================================= MEDIA QUERIES (MEDIUM DEVICE) ===============*/

@media screen and (max-width:1024px) {
 
.ab_hea_box{
    padding: 0rem 4rem;
}

}


/* ================================= MEDIA QUERIES (SMALL DEVICE) ===============*/

@media screen and (max-width:600px) {
 .ab_main{
    margin-top: 3.3rem;
}
.ab_hea_box{
    padding: 0rem 0.3rem;
    transform: translate(0rem,29.2rem);
}
.ab_header_bg_img{
    justify-content: space-between;
}

.header-des{
    width: 100%;
    color: white;
    margin: 10%;
}
}