
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Oswald:wght@200;300;400;500;700&family=Poppins:wght@300;500;600;700&family=Roboto:wght@300;900&display=swap');

*,
::after,
::before
{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}

:root{

    --color-primary:rgb(202, 131, 0);
    --color-secondary:rgb(251, 255, 148);
    --color-dark:rgb(41, 41, 41);
    --color-white:rgb(255, 255, 255);
    --color-light:rgb(236, 236, 236);
    --color-varient:rgba(255, 255, 255, 0.625);
    --transition:all 400ms ease;


    --container-width-lg:76%;
    --container-width-md:86%;
    --container-width-sm:90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.7;
    overflow-x: hidden;
}


/* ============================ GENERAL STYLE ========== */

.container {

    width: var(--container-width-lg);
    margin: 0 auto;
}
.grey{
    color: rgb(178, 178, 178);
}
.cmain{
    color: var(--color-primary);
}
.bold{
    font-weight: bold;
}
h1,h2,h3,h4,h5{
    font-weight:600;
}

section {
    margin-top: 8rem;
}

a{
   color: var(--color-white);
   transition: var(--transition);
   font-size: 1rem;
   font-weight: 400;
   line-height: 2;
}
a:hover{  
    color: var(--color-primary);
}

.btn{
    display: inline-block;
    text-align: center;
    transition: var(--transition);
    
}

.btn:hover{
    background-color: transparent;
    color: var(--color-dark);
    border: 1px solid var(--color-primary);
}

.btn-primary{
    padding: 1.1rem 2rem;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
}
.btn-secondary{
    padding: 1.1rem 2rem;
    background-color: var(--color-dark);
    color: white;
    font-size: 1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
}
.btn-bor{
    padding: 1.1rem 3rem;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    transition:var(--transition) ;
}
.btn-bor:hover{
    background-color: var(--color-primary);
    color: white;
}
.btn_white_bg{
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}
img{
    object-fit: cover;
    width: 100%;
    display: block;
}
.p_rel{
    position:relative
}
.t_img{
    content: 'New';
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 2rem;
    background-color: white;
    color: var(--color-dark);
    border-radius: 0.2rem;
    font-weight: bold;
}
/* ================================= MEDIA QUERIES (MEDIUM DEVICE) ===============*/

@media screen and (max-width:1024px) {

    .container{
        width: var(--container-width-md);
    }

    section{
        margin-top: 6rem;
    }
}


/* ================================= MEDIA QUERIES (SMALL DEVICE) ===============*/

@media screen and (max-width:600px) {

    .container{
        width: var(--container-width-sm);
    }

    section{
        margin-top: 4rem;
    }
}